<%- include('./pages/fragments/header.ejs') %>
        <main>
            <h2><%= __('main-page.content') %></h2>
            <p class="company-details">Firma SpeedTrip powstała w 2007 roku w wyniku wielkiej pasji do motoryzacji. Od tego czasu
                nieustannie wypożyczamy nasze pojazdy dla Państwa wygody i dobrej zabawy. Zapraszamy do
                skorzystania z naszej oferty.
            </p>
        </main>
<%- include('./pages/fragments/footer.ejs') %>