
        <script type="application/javascript" src="/js/validationAutoForm.js"></script>

<%- include('../fragments/header.ejs') %>
        <main>
            <h2>Szczegóły pojazdu</h2>
            

            <form class="form">
                <label for="producent">Producent: <span class="symbol-required">*</span></label>
                <input type="text" name="producent" id="producent" value="BMW" class="label-inactive" disabled />
                <span id="errorProducent" class="errors-text"></span>
                
                <label for="model">Model: <span class="symbol-required">*</span></label>
                <input type="text" name="model" id="model" value="i8" class="label-inactive" disabled />
                <span id="errorModel" class="errors-text"></span>

                <label for="rok_produkcji">Rok produkcji: <span class="symbol-required">*</span></label>
                <input type="number" name="rok_produkcji" id="rok_produkcji" value="2015" class="label-inactive" disabled />
                <span id="errorRok_produkcji" class="errors-text"></span>

                <label for="kolor">Kolor: <span class="symbol-required">*</span></label>
                <input type="text" name="kolor" id="kolor" value="Czerwony" class="label-inactive" disabled />
                <span id="errorKolor" class="errors-text"></span>

                <label for="moc_silnika">Moc silnika: <span class="symbol-required">*</span></label>
                <input type="number" name="moc_silnika" id="moc_silnika" value="270" class="label-inactive" disabled />
                <span id="errorMoc_silnika" class="errors-text"></span>

                <div class="form-buttons">
                    <p id="errorSummary" class="errors-text"></p>
                    <a href="/Auto/edit/1" class="form-button-edit"><i>Edytuj</i></a>
                </div>
            </form>
 
            <h2>Wypożyczenia</h2>

            <table class="table-list" id="details-table">
                <thead>
                    <tr>
                        <th class="table-list-tr">Imie klienta</th>
                        <th class="table-list-tr">Nazwisko klienta</th>
                        <th class="table-list-tr">Data wypożyczenia</th>
                        <th class="table-list-tr">Data zwrotu</th>
                    </tr>    
                </thead>
                <tbody>
                    <tr>
                        <td>Łukasz</td>
                        <td>Adamski</td>
                        <td>2022-09-30</td>
                        <td>2022-10-30</td>
                    </tr>
                    <tr>
                        <td>Jan</td>
                        <td>Kowalski</td>
                        <td>2022-10-03</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Łukasz</td>
                        <td>Adamski</td>
                        <td>2021-09-30</td>
                        <td>2021-10-30</td>
                    </tr>
                </tbody>    
            </table>
            <p><a href="/Auto/" class="button-goback"><i>Powrót</i></a></p>
        </main>
<%- include('../fragments/footer.ejs') %>