
        <script type="application/javascript" src="/js/validationAutoForm.js"></script>

<%- include('../fragments/header.ejs') %>
        <main>
            <h2>Edytuj dane samochodu</h2>

            <form class="form" novalidate onsubmit="return validateForm();">
                <label for="producent">Producent: <span class="symbol-required">*</span></label>
                <input type="text" name="producent" id="producent" value="BMW" placeholder="3-25 znaków" required />
                <span id="errorProducent" class="errors-text"></span>
                
                <label for="model">Model: <span class="symbol-required">*</span></label>
                <input type="text" name="model" id="model" value="i8" placeholder="2-20 znaków" required />
                <span id="errorModel" class="errors-text"></span>

                <label for="rok_produkcji">Rok produkcji: <span class="symbol-required">*</span></label>
                <input type="number" name="rok_produkcji" id="rok_produkcji" value="2015" placeholder="liczba max 4 cyfry" required />
                <span id="errorRok_produkcji" class="errors-text"></span>

                <label for="kolor">Kolor: <span class="symbol-required">*</span></label>
                <input type="text" name="kolor" id="kolor" value="Czerwony" placeholder="3-25 znaków" required />
                <span id="errorKolor" class="errors-text"></span>

                <label for="moc_silnika">Moc silnika: <span class="symbol-required">*</span></label>
                <input type="number" name="moc_silnika" id="moc_silnika" value="270" placeholder="liczba max 4 cyfry" required />
                <span id="errorMoc_silnika" class="errors-text"></span>

                <div class="form-buttons">
                    <p id="errorSummary" class="errors-text"></p>
                    <input type="submit" class="form-button-submit" value="Dodaj" />
                    <a href="/Auto/" class="form-button-cancel"><i>Anuluj</i></a>
                </div>
            </form>
        </main>
        <%- include('../fragments/footer.ejs') %>