
        <script type="application/javascript" src="/js/validationWypozyczenieForm.js"></script>

<%- include('../fragments/header.ejs') %>
        <main>
            <h2>Lista wypożyczeń</h2>
            
            <p><i>Brak rekordów do wyswietlenia.</i></p>

            <p><a href="/Wypozyczenie/add" class="add-button"><i>Dodaj nowe wypożyczenie</i></a></p>
        </main>
        <%- include('../fragments/footer.ejs') %>